<ul class="list-group" ng-repeat="story in stories">
  <li class="list-group-item" ng-if="trans_pt[$index].status === 'completed'">
    <a ng-href="{{story.url}}">
      {{($index+1)}} - {{trans_pt[$index].translatedText}}
    </a>    
    <span ng-if="story.descendants !== undefined">({{story.descendants}} comentários)</span>
  </li>
  <li class="list-group-item" ng-if="trans_pt[$index].status !== 'completed'">
    <a ng-href="{{story.url}}">
      {{($index+1)}} - Traduzindo...
    </a>
  </li>
</ul>